rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function getUserRole() {
      return get(/databases/$(database)/documents/u/$(request.auth.uid))
                .data.role;
    }

    // User Profile.
    match /u/{uid} {
      // User can see their own profile also >=MODERATOR.
      allow get: if request.auth.uid == resource.data.uid || getUserRole() >= 2;

      // >=MODERATOR can list the users up to 100.
      allow list: if request.query.limit <= 100 && getUserRole() >= 2;
    }

    // Photos uploaded at the specified TPS.
    match /t/{tpsId}/p/{imageId} {
      // >=MODERATOR can read user uploaded photos to be reviewed.
      allow get: if getUserRole() >= 2;

      // >=MODERATOR can query photos to be reviewed.
      allow list: if request.query.limit <= 100 && getUserRole() >= 2;
    }

    // Lokasi with votes.
    match /h/{idLokasi} {
      // Anyone can read the cached sum.
      allow get: if request.auth.uid != null;
    }
  }
}
