<h1>About KawalPemilu 2024</h1>

<h2>Cara Kerja KP</h2>

<ol>
    <li>Relawan sign in, lalu upload foto C1 berisikan hasil suara final semua paslon.</li>
    <li>Moderator review foto, hasil suara, dan lokasi TPS yang diupload.</li>
    <li>Our bot verifier double check angka yang didigitize.</li>
</ol>

<h2>Our biggest values</h2>

<p>Kita ingin KP menjadi tempat untuk mencocokan data dari berbagai sumber.</p>

<p>Semakin banyak sumber yang mengupload foto di suatu TPS, semakin besar transparansi di TPS tersebut.</p>

<p>KP mengundang semua pihak untuk menyumbangkan foto C1 di setiap TPS yang mereka jaga.</p>

<h2>Social Media Accounts</h2>
<p>Kalau mau ikutin perkembangan KP di socmed, bisa follow</p>

<ul>
    <li>Twitter Account</li>
    <li>IG Account</li>
    <li>Meta Account</li>
</ul>

<h2>Privacy Policy</h2>
<p>Hanya logged-in user yang bisa upload foto.</p>

<p>Data login hanya dipakai untuk mencegah Spam / peretasan.</p>
