<article class="about">

<header class="hero">
    <img class="hero-image" src="/assets/kp.png" alt="Logo KawalPemilu 2024" />
</header>

<h1>Tentang KawalPemilu 2024</h1>

<p>
    KawalPemilu adalah inisiatif urun-daya (<em>crowdsourcing</em>) netizen Indonesia PRO DATA, berdiri sejak 2014 untuk menjaga suara rakyat di PEMILU melalui teknologi <em>real count</em> cepat & akurat.
</p>
<p>
    Misi kami memampukan seluruh lapisan masyarakat untuk mengawal pelaksanaan dan penghitungan hasil Pemilu di setiap TPS se-Indonesia melalui teknologi yang mudah dan andal.
</p>

<h2>Cara Kerja KawalPemilu</h2>

<ol>
    <li>Siapapun bisa memfoto hasil Pilpres dari TPS (C.HASIL-PPWP berisikan hasil akhir setiap paslon).</li>
    <li>Kemudian <em>login</em> ke kawalpemilu.org dan unggah foto tersebut, beserta angka hasilnya.</li>
    <li>Moderator akan me-<em>review</em> foto, hasil suara, dan lokasi TPS yang diunggah.</li>
    <li>Hasil juga akan dicek ulang oleh sistem kami.</li>
</ol>

<h2>Prinsip KawalPemilu</h2>

<p>
    <cite>
        KawalPemilu berprinsip bahwa data C.HASIL-PPWP merupakan hak publik untuk diketahui, sehingga publik bisa memonitor pergerakan perolehan suara di tiap Pemilu.
    </cite>
</p>
<p>
    Kami ingin KawalPemilu menjadi tempat untuk mencocokan data dari TPS sampai tabulasi tingkat nasional. Semakin banyak orang yang mengunggah foto dari TPS tersebut, semakin besar transparansi di TPS tersebut.
</p>
<p>
    Semakin banyak TPS yang foto C.HASIL-PPWP-nya tersedia di situs KawalPemilu.org, semakin hasil tabulasi nasional akan mendekati hasil yang sahih.
</p>
<p>
    <cite>
        Tiap pengawas, saksi, dan bahkan warga masyarakat BERHAK mengambil foto lembar C.HASIL-PPWP setelah selesai penghitungan di TPS.
    </cite>
</p>
<p>
    Karenanya KawalPemilu mengundang tiap anggota masyarakat, para saksi TPS, para pengawas Pemilu, dan juga semua anggota panitia KPPS dan tim sukses partai / paslon untuk menyumbangkan foto C.HASIL-PPWP di setiap TPS yang mereka jaga.
</p>


<h2>Media Sosial</h2>

<ul>
    <li>
        X/Twitter: <a href="https://twitter.com/kawalpemilu_org" target="_blank" rel="noopener noreferrer">
            &#64;KawalPemilu_org
        </a>
    </li>
    <li>
        Instagram: <a href="https://www.instagram.com/kawalpemilu_org" target="_blank" rel="noopener noreferrer">
            &#64;kawalpemilu_org
        </a>
    </li>
    <li>
        Facebook: <a href="https://www.facebook.com/KawalPemilu" target="_blank" rel="noopener noreferrer">
            Kawal Pemilu
        </a>
    </li>
    <li>
        Threads: <a href="https://www.threads.net/@kawalpemilu_org" target="_blank" rel="noopener noreferrer">
            &#64;kawalpemilu_org
        </a>
    </li>
    <li>
        TikTok: <a href="https://www.tiktok.com/@kawalpemilu_org" target="_blank" rel="noopener noreferrer">
            &#64;kawalpemilu_org
        </a>
    </li>
</ul>

<h2>Kebijakan Privasi</h2>

<p>
  Grup Kawal tidak pernah meminta data pribadi selain yang paling diperlukan untuk keamanan sistem, di mana:
</p>

<ol>
    <li>Hanya logged-in user yang bisa mengunggah foto.</li>
    <li>Data login hanya dipakai untuk mencegah spam / peretasan.</li>
    <li>Bergabung untuk jadi relawan unggah foto C.HASIL-PPWP
      <a href="https://twitter.com/hashtag/Unggah-Input-Kirim" target="_blank" rel="noopener noreferrer">#Unggah-Input-Kirim</a>.
    </li>
</ol>

</article>
