.about {
  padding: 1.5rem 2rem;
  max-width: 48rem;
  margin: auto;
}

.about cite {
  font-style: normal;
  font-weight: bold;
}

.about header.hero img.hero-image {
  object-fit: scale-down;
  max-height: 5rem;
}

.about a {
  color: #914689; /* KawalPemilu 2024 Plum */
  text-wrap: nowrap;
  text-decoration: none;
}

.about a:hover {
  text-decoration: underline;
}

.tutorial ol.instructions,
.tutorial ul.explanations {
  padding-inline-start: 1.5rem;
}

.tutorial img,
.tutorial video {
  width: 100%;
  max-width: 30rem;
}

.tutorial img.c-hasil {
  max-width: 100%;
}

.tutorial li {
  margin-left: -10px;
  padding-right: 10px;
  line-height: 2;
}

.tutorial li a {
  font-weight: bold;
}
