.about {
  padding: 1.5rem 2rem;
}

.about cite {
  font-style: normal;
  font-weight: bold;
}

.about header.hero img.hero-image {
  object-fit: scale-down;
  max-height: 5rem;
}

.about a.hashtag {
  color: #914689; /* KawalPemilu 2024 Plum */
  text-wrap: nowrap;
}
