@if (showRoiTooltip) {
  <div #tippyTemplateRef>
    <img alt="ROI paslon" style="min-height:120px;width:150px" loading="lazy"/>
  </div>
  <div [style.width]="maxWidth + 'px'"
        [style.height]="maxHeight + 'px'"
        [ngxTippy]="tippyTemplateRef"
        [id]="tooltipUrl"
        [tippyProps]="{
          placement: 'right',
          delay: [200, 200],
          animation: 'shift-toward',
          onCreate: loadTooltipImage,
          onShow: onShowTippy,
        }">
      <a [href]="largePhoto" target="_blank" rel="noopener noreferrer" (contextmenu)="openDialog()">
          <img [style.max-width]="maxWidth + 'px'"
                [style.max-height]="maxHeight + 'px'"
                [src]="hiResThumb ? largePhoto : thumbnail" /><br>
      </a>
  </div>
} @else {
  <a [href]="largePhoto" target="_blank" rel="noopener noreferrer" (contextmenu)="openDialog()">
    <div class="photo-img-container">
      <img class="photo-img" [src]="hiResThumb ? largePhoto : thumbnail" /><br>
      <div class="overlay">
        <div class="zoom-icon" title="Right-click to zoom and rotate">
          <mat-icon class="icon">zoom_in</mat-icon>
        </div>
      </div>
    </div>
  </a>
}
