<table>
    <tr>
        <td>
            <a [href]="photoUrl + '=s1280'" target="_blank">
                <img style="max-width: 100px; max-height: 200px;" [src]="photoUrl + '=s200'" /><br>
            </a>
            @if (review) {
                @if (uid) {
                    By: {{ uid.substring(0, 10) }}<br>
                }
                @if (imageMetadata; as m) {
                    Size: {{ (m.z || m.s) / 1024 | number: '1.0-0'}}KB<br>
                    <!-- <pre style="text-align: left; width: 200px">{{ m | json }}</pre> -->
                }
            } @else {
                Pas1: {{ pas1 }}<br>
                Pas2: {{ pas2 }}<br>
                Pas3: {{ pas3 }}<br>
            }
        </td>
        @if (review) {
        <td>
            Pas1: {{ pas1 }}<br>
            Pas2: {{ pas2 }}<br>
            Pas3: {{ pas3 }}<br>
            <br>
            <button (click)="approve(true)" mat-raised-button color="primary">Approve</button>
            <br><br>
            <button (click)="approve(false)" mat-raised-button color="warn">Reject</button>
        </td>
        }
    </tr>
</table>