.review {
  max-width: 270px;
  padding: 0.1rem;
}

.image-bottom {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
}

.photo-img {
  width: 100%;
  height: auto;
  max-height: 250px;
}

.lokasi {
  width: 150px;
}

.ubah-lokasi-trigger {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.action {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  gap: 0.5rem;
}
