<table class="review">
<tr>
    <td align="center">
    <app-photo [photoUrl]="servingUrl"
               [roiToolTip]="[servingUrl || '', this.id]"
               [hiResThumb]="true"
               [maxWidth]="200"
               [maxHeight]="250"
               [showRoiTooltip]="false"
               (roiImageUrl)="roiImageUrl=$event">
    </app-photo>
    @if (ubahLokasi) { @if (service.lokasi$ | async; as P) {
        <br>
        <table>
            <tr>
                <td>Provinsi:</td>
                <td>
                    <select *ngIf="getPropinsiList(P) as arr" class="lokasi"
                            [(ngModel)]="newPropId"
                            (change)="updateNewId($event)">
                    @for (p of arr; track p.id) {
                        <option [value]="p.id">{{ p.name }}</option>
                    }
                    </select>
                </td>
            </tr>
            <tr>
                <td>Kabupaten:</td>
                <td>
                    <select *ngIf="getKabupatenList(P) as arr" class="lokasi"
                            [(ngModel)]="newKabId"
                            (change)="updateNewId($event)">
                        @for (p of arr; track p.id) {
                            <option [value]="p.id">{{ p.name }}</option>
                        }
                        </select>
                    </td>
            </tr>
            <tr>
                <td>Kecamatan:</td>
                <td>
                    <select *ngIf="getKecamatanList(P) as arr" class="lokasi"
                            [(ngModel)]="newKecId"
                            (change)="updateNewId($event)">
                        @for (p of arr; track p.id) {
                            <option [value]="p.id">{{ p.name }}</option>
                        }
                        </select>
                    </td>
            </tr>
            <tr>
                <td>Kelurahan:</td>
                <td>
                    <select *ngIf="getKelurahanList(P) as arr" class="lokasi"
                            [(ngModel)]="newKelId"
                            (change)="updateNewId($event)">
                        @for (p of arr; track p.id) {
                            <option [value]="p.id">{{ p.name }}</option>
                        }
                        </select>
                    </td>
            </tr>
            <tr>
                <td>TPS #:</td>
                <td>
                    <input [(ngModel)]="newTpsNo" type="number" size="3"
                            (keydown.enter)="updateLokasi()">
                </td>
            </tr>
        </table>
        <br>
        <div class="action">
            <button [disabled]="!isValid(P)" mat-raised-button color="primary"
                    (click)="updateLokasi()">
                Update Lokasi
            </button>
            <button mat-raised-button color="warn" (click)="ubahLokasi = false">
                Batal
            </button>
        </div>
    }
    } @else {
        <div class="ubah-lokasi-trigger">
            <button mat-raised-button color="accent" (click)="startUbahLokasi()">
                Ubah LOKASI TPS
            </button>
        </div>
        <app-digitize
            [votes]="votes"
            [imageId]="imageId"
            [review]="true"
            (onSubmit)="approve($event)">
        </app-digitize>
    }
    </td>
    <td *ngIf="roiImageUrl">
        <img [src]="roiImageUrl"
             alt="Region of interest"
             class="roi-image"
             onerror="this.style.display='none'">
    </td>
</tr>
</table>
