.review {
  max-width: 225px;
  padding: 0.1rem;
}

.roi-image {
  max-width: 5rem;
  max-height: 490px;
}

.lokasi {
  width: 150px
}

.ubah-lokasi-trigger {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.action {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  gap: 0.5rem;
}
