<div *ngIf="lokasi$ | async as lokasi">

<header class="sticky-header">
  <div class="header-container">
      <nav aria-label="Breadcrumb" class="breadcrumb">
          <ul class="breadcrumb-list">
              @for (p of lokasi.parents; track p[0];) {
                  <li class="breadcrumb-item">
                      <a class="breadcrumb-link" [routerLink]="['/h', p[0]]" routerLinkActive="active">{{ p[1] }}</a>
                  </li>
              }
          </ul>
      </nav>
      <button class="refresh" mat-icon-button color="primary" (click)="reloadLokasi()"
          [disabled]="service.rpcIsRunning">
          @if (service.rpcIsRunning) {
              <mat-spinner [diameter]="25"></mat-spinner>
          } @else {
              <mat-icon>refresh</mat-icon>
          }
          <span class="sr-only">Refresh</span>
      </button>
  </div>
</header>

@if (lokasi.id.length === 10) {
    <!-- Level TPS -->
    <app-tps-list
        [tpsNo]="tpsNo"
        [userProfile]="userProfile"
        [lokasi]="lokasi">
    </app-tps-list>
} @else {
    <!-- Level Provinsi, Kecamatan, Kelurahan -->
  <main class="result">
    <table class="collapsed_border sticky_table">
    <thead>
        <tr>
            <th class="lokasi">{{ lokasi.level }}
                <div #infoLokasi>
                    <div class="tippy-info">
                        <div><b>Arti setiap angka di kolom Cakupan TPS:</b></div>
                        <div>
                            <div class="capsule pending">581</div>&nbsp;
                            <div class="capsule error">1028</div>&nbsp;
                            <div class="capsule lapor">1327</div>
                        </div>
                        <div>
                            <div class="capsule pending">581</div> adalah jumlah TPS yang sudah diunggah baik oleh Penjaga TPS KawalPemilu maupun hasi sedot foto dari KPU, tapi <b>belum di-<em>review</em>/disetujui</b> oleh KawalPemilu.
                        </div>
                        <div>
                            <div class="capsule error">1028</div> adalah jumlah TPS yang sudah memiliki data dan foto, tapi <b>terdeteksi <em>error</em></b> oleh sistem KawalPemilu.
                        </div>
                        <div>
                            <div class="capsule lapor">1327</div> adalah jumlah TPS dengan <b>foto yang dilaporkan bermasalah</b> oleh publik.
                        </div>
                    </div>

                </div>
                <div [ngxTippy]="infoLokasi"
                    [tippyProps]="{
                        placement: 'right-start',
                    }"
                >
                    <mat-icon class="info" size="small">info</mat-icon>
                </div>
            </th>
            <th class="paslon">1</th>
            <th class="paslon">2</th>
            <th class="paslon">3</th>
            <th class="cov">
                <div #infoCakupan>
                    <div class="tippy-info">
                        <div><b>Arti setiap angka di kolom Cakupan TPS:</b></div>
                        <div>
                            <div class="title">79.11%</div>
                            <div class="subtitle">24,338/15,518/30,766</div>
                        </div>
                        <div>
                            <em>24,338</em> adalah total TPS yang fotonya sudah diunggah & <b>disetujui di KawalPemilu</b>
                        </div>
                        <div>
                            <em>15,518</em> adalah total TPS yang fotonya sudah <b>disedot dari SIREKAP KPU</b> ke KawalPemilu
                        </div>
                        <div>
                            <em>30,766</em> adalah <b>total TPS</b> di lokasi tersebut
                        </div>
                    </div>

                </div>
                <div [ngxTippy]="infoCakupan"
                    [tippyProps]="{
                        placement: 'left-start',
                    }"
                >
                    <mat-icon class="info" size="small">info</mat-icon>
                </div>
            </th>
        </tr>
    </thead>
    <tbody class="data">
        @for (c of lokasi.children; track c.id;) {
        <tr *ngIf="c.agg[0] as a" height="56">
            <td><div class="lokasi">
                <a class="hierarchy" [routerLink]="['/h', c.id]">{{ a.name }}</a>
                <a class="hierarchy pending" *ngIf="a.totalPendingTps as p" [routerLink]="['/h', a.anyPendingTps]">
                    {{ p }}
                </a>
                <a class="hierarchy error" *ngIf="a.totalErrorTps as e" [routerLink]="['/h', a.anyErrorTps]">
                    {{ e }}
                </a>
                <a class="hierarchy lapor" *ngIf="a.totalLaporTps as l" [routerLink]="['/h', a.anyLaporTps]">
                    {{ l }}
                </a>
            </div></td>
            @if (a.pas1 + a.pas2 + a.pas3; as totalVotes) {
                <td class="numbers" [class.largest]="a.pas1 === getLargestTotal(a)">
                    <app-percent [nom]="a.pas1" [den]="totalVotes" [showDen]="false"></app-percent>
                </td>
                <td class="numbers" [class.largest]="a.pas2 === getLargestTotal(a)">
                    <app-percent [nom]="a.pas2" [den]="totalVotes" [showDen]="false"></app-percent>
                </td>
                <td class="numbers" [class.largest]="a.pas3 === getLargestTotal(a)">
                    <app-percent [nom]="a.pas3" [den]="totalVotes" [showDen]="false"></app-percent>
                </td>
            } @else {
                <td class="numbers">-</td>
                <td class="numbers">-</td>
                <td class="numbers">-</td>
            }
            <td nowrap class="numbers">
                <app-percent [nom]="a.totalCompletedTps" [nom2]="a.totalKpuTps" [den]="a.totalTps"></app-percent>
            </td>
        </tr>
        }
    </tbody>
    <tfoot class="sum">
        <tr height="56">
            <th class="numbers">
                TOTAL
                <span class="total pending" *ngIf="lokasi.total.totalPendingTps as p" >{{ p }}</span>
                <span class="total error" *ngIf="lokasi.total.totalErrorTps as e" >{{ e }}</span>
                <span class="total lapor" *ngIf="lokasi.total.totalLaporTps as e" >{{ e }}</span>
            </th>
            @if (lokasi.total.pas1 + lokasi.total.pas2 + lokasi.total.pas3; as totalVotes) {
                <th class="numbers" [class.largest]="lokasi.total.pas1 === getLargestTotal(lokasi.total)">
                    <app-percent [nom]="lokasi.total.pas1" [den]="totalVotes" [showDen]="false"></app-percent>
                </th>
                <th class="numbers" [class.largest]="lokasi.total.pas2 === getLargestTotal(lokasi.total)">
                    <app-percent [nom]="lokasi.total.pas2" [den]="totalVotes" [showDen]="false"></app-percent>
                </th>
                <th class="numbers" [class.largest]="lokasi.total.pas3 === getLargestTotal(lokasi.total)">
                    <app-percent [nom]="lokasi.total.pas3" [den]="totalVotes" [showDen]="false"></app-percent>
                </th>
            } @else {
                <th class="numbers">-</th>
                <th class="numbers">-</th>
                <th class="numbers">-</th>
            }
            <th>
                <app-percent [nom]="lokasi.total.totalCompletedTps" [nom2]="lokasi.total.totalKpuTps" [den]="lokasi.total.totalTps"></app-percent>
            </th>
        </tr>
    </tfoot>
    </table>
  </main>
}
</div>
