<div *ngIf="lokasi$ | async as lokasi">

<table #hierarchy class="hierarchy_path" cellspacing="0" cellpadding="0">
    <tr><td valign="middle">
    <table cellspacing="0" cellpadding="0" border="0">
        @for (p of lokasi.parents; track p[0]; let last = $last) {
            <td align="center" valign="middle">
                &nbsp;&nbsp;<a [routerLink]="['/h', p[0]]" routerLinkActive="active"
                class="hierarchy">{{ p[1] }}</a>
            </td>
            @if (!last) { <td valign="middle">&nbsp;&gt;&nbsp;</td> }
        }
        <td valign="middle">
            <button mat-icon-button color="primary" (click)="reloadLokasi()" [disabled]="rpcIsRunning">
                @if (lokasi.id.length == 10 && rpcIsRunning) {
                    <mat-spinner [diameter]="25"></mat-spinner>
                } @else {
                    <mat-icon>refresh</mat-icon>
                }
            </button>
        </td>
    </table>
    </td></tr>
</table>

@if (lokasi.id.length === 10) {
    <!-- Level TPS -->
    <app-tps-list [lokasi]="lokasi" (onChange)="reloadLokasi()">
    </app-tps-list>
} @else {
    <!-- Level Provinsi, Kecamatan, Kelurahan -->
    <table class="collapsed_border sticky_table">
    <thead [style.top]="(hierarchyHeight - 1) + 'px'">
        <tr>
            <th class="lokasi">{{ lokasi.level }}</th>
            <th class="paslon">Pas1</th>
            <th class="paslon">Pas2</th>
            <th class="paslon">Pas3</th>
            <th class="cov">COV</th>
        </tr>
    </thead>
    <tbody>
        @for (c of lokasi.children; track c.id;) {
        <tr *ngIf="c.agg[0] as a" height="56">
            <td><div class="lokasi">
                <a class="hierarchy" [routerLink]="['/h', c.id]">{{ a.name }}</a>
                <b *ngIf="a.totalPendingTps as p" style="color: orange"> ({{ p }})</b>
            </div></td>
            @if (a.pas1 + a.pas2 + a.pas3; as totalVotes) {
                <td align="center">
                    <app-percent [nom]="a.pas1" [den]="totalVotes" [showDen]="false"></app-percent>
                </td>
                <td align="center">
                    <app-percent [nom]="a.pas2" [den]="totalVotes" [showDen]="false"></app-percent>
                </td>
                <td align="center">
                    <app-percent [nom]="a.pas3" [den]="totalVotes" [showDen]="false"></app-percent>
                </td>
            } @else {
                <td align="center">-</td>
                <td align="center">-</td>
                <td align="center">-</td>
            }
            <td nowrap align="center">
                <app-percent [nom]="a.totalCompletedTps" [den]="a.totalTps"></app-percent>
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr height="56">
            <th align="right">
                TOTAL:
                <b *ngIf="lokasi.total.totalPendingTps as p" style="color: orange"> ({{ p }})</b>
            </th>
            @if (lokasi.total.pas1 + lokasi.total.pas2 + lokasi.total.pas3; as totalVotes) {
                <th align="center">
                    <app-percent [nom]="lokasi.total.pas1" [den]="totalVotes" [showDen]="false"></app-percent>
                </th>
                <th align="center">
                    <app-percent [nom]="lokasi.total.pas2" [den]="totalVotes" [showDen]="false"></app-percent>
                </th>
                <th align="center">
                    <app-percent [nom]="lokasi.total.pas3" [den]="totalVotes" [showDen]="false"></app-percent>
                </th>
            } @else {
                <th align="center">-</th>
                <th align="center">-</th>
                <th align="center">-</th>
            }
            <th class="cov">
                <app-percent [nom]="lokasi.total.totalCompletedTps" [den]="lokasi.total.totalTps"></app-percent>
            </th>
        </tr>
    </tfoot>
    </table>
}
</div>
