a.hierarchy {
    text-decoration: none;
}

a.hierarchy.pending,
a.hierarchy.error,
a.hierarchy.lapor,
span.total {
    height: fit-content;
    width: fit-content;
    border-radius: 1rem;
    padding: 0.1rem 0.5rem;
    margin-left: 0.5rem;
    font-size: 0.65rem;
    vertical-align: middle;
    color: white;
    display: inline-block;
}

a.hierarchy.pending,
span.total.pending {
    background-color: #FFD54F; /* Amber 300 */
    color: #000000DE;
}

a.hierarchy.pending:hover,
span.total.pending:hover {
  background-color: #FFB300; /* Amber 600 */
}

a.hierarchy.error,
span.total.error {
    background-color: #D32F2F; /* Red 700 */
}

a.hierarchy.error:hover,
span.total.error:hover {
    background-color: #EF5350; /* Red 400 */
}

a.hierarchy.lapor,
span.total.lapor {
    background-color: #9C27B0; /* Purple 500 */
}

a.hierarchy.lapor:hover,
span.total.lapor:hover {
    background-color: #BA68C8; /* Purple 300 */
}

th.lokasi {
    width: 16rem;
}

th.paslon,
th.cov,
th.jaga {
    width: 4rem;
}

th.paslon::before {
    content: "Pas";
}

th.cov::after {
  content: "%";
}

th.jaga::before {
  content: "% ";
}

/* Default styles - all columns visible */
table th,
table td {
    display: table-cell;
}

tbody.data,
tfoot.sum {
    font-size: 0.7rem;
}

tbody.data tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tbody.data tr:hover {
  background-color: #e0e0e0;
}

tbody.data td.numbers {
    text-align: center;
}

table.sticky_table {
    margin: auto;
}

.sticky_table thead {
    position: sticky;
    top: 45px;
    border-bottom: 2px solid #ccc;
    background: lightgray;
    max-width: 48rem;
}

.sticky_table tfoot {
    position: sticky;
    bottom: 0;
    border-top: 2px solid #ccc;
    background: lightgray;
}

header.sticky-header {
    font-size: 0.7rem;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #E0F7FA; /* Cyan 100 */
    padding: 0 2rem;
}

header.sticky-header div.header-container {
    max-width: 48rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.sticky-header nav.breadcrumb {
    min-height: 3rem;
    margin-right: auto;
}

header.sticky-header button.refresh {
    margin-left: 1rem;
}

header.sticky-header nav.breadcrumb > ul.breadcrumb-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 3rem;
}

header.sticky-header nav.breadcrumb > ul.breadcrumb-list > li.breadcrumb-item {
    line-height: 3;
}

header.sticky-header nav.breadcrumb > ul.breadcrumb-list > li:not(:last-child)::after {
    display: inline-block;
    margin: 0 .25rem;
    content: "→";
}

header.sticky-header nav.breadcrumb > ul.breadcrumb-list > li.breadcrumb-item > a.breadcrumb-link {
    text-decoration: none;
}

@media (min-width: 500px) {
    header.sticky-header {
        font-size: 0.85rem;
    }

    th.lokasi {
        width: 300px;
    }

    th.paslon,
    th.cov,
    th.jaga {
        width: 75px;
    }

    th.paslon::before {
        content: "Paslon ";
    }

    th.cov::after {
        content: "Cakupan";
    }

    th.jaga::before {
        content: "Cakupan ";
    }

    tbody.data,
    tfoot.sum {
        font-size: 1rem;
    }

    a.hierarchy,
    span.total {
        font-size: 0.8rem;
    }
}
