<div *ngIf="lokasi$ | async as lokasi">

<div class="hierarchy_path">
    @for (p of parents; track p[0]; let last = $last) {
        <a [routerLink]="['/h', p[0]]" routerLinkActive="active"
            class="hierarchy">{{ p[1] }}</a>
        @if (!last) { &gt; }
    }
</div>

<table class="collapsed_border">
<tr bgcolor="lightgrey">
    <th class="lokasi">{{ levelName() }}</th>
    <th class="paslon">Pas1</th>
    <th class="paslon">Pas2</th>
    <th class="paslon">Pas3</th>
    <th class="sah">Sah</th>
    <th class="sah">~Sah</th>
    <th class="cov">COV</th>
</tr>
@for (c of children; track c[0];) {
    <tr>
        <td>
            <div class="truncate-text lokasi">
            @if (lokasi.id.length === 10) {
                <a class="hierarchy" [routerLink]="['/u', lokasi.id + c[0]]">TPS #{{ c[1].name }}</a>
            } @else {
                <a class="hierarchy" [routerLink]="['/h', c[0]]">{{ c[1].name }}</a>
            }
            </div>
        </td>
    @if (c[1].idLokasi && c[1].idLokasi.length > 0) {
        <td>{{ c[1].pas1 }}</td>
        <td>{{ c[1].pas2 }}</td>
        <td>{{ c[1].pas3 }}</td>
        <td class="sah">{{ c[1].sah }}</td>
        <td class="sah">{{ c[1].tidakSah }}</td>
    } @else {
        <td colspan="3">
            &lt;- Click to upload photo.
        </td>
    }
    <td>{{ c[1].totalCompletedTps }} / {{ c[1].totalTps }}</td>
    </tr>
}
</table>
</div>
