<mat-drawer-container [hasBackdrop]="true" *ngIf="c.agg[0] as a">
    <mat-drawer #drawer mode="over" (openedChange)="isDrawerOpen = $event">
    @defer (on viewport) {
        @if (isUploadDrawer) {
            <app-upload [id]="tpsId" [votes]="a" [userProfile]="userProfile"
                (onUpload)="updateAggregate($event);
                            isDrawerOpen = false;
                            drawer.close()">
            </app-upload>
        } @else if (isLaporDrawer) {
            @if (laporRequest) {
                <app-lapor [userProfile]="userProfile"
                           [request]="laporRequest"
                           (onLapor)="updateAggregate($event);
                                      isDrawerOpen = false;
                                      drawer.close()">
                </app-lapor>
            }
        } @else if (userProfile && userProfile.role >= USER_ROLE.MODERATOR) {
            @if (reviewUploadRequest) {
                <app-review
                    [id]="reviewUploadRequest.idLokasi"
                    [imageId]="reviewUploadRequest.imageId"
                    [servingUrl]="reviewUploadRequest.servingUrl"
                    [votes]="reviewUploadRequest.votes[0]"
                    (onReview)="updateAggregate($event);
                                isDrawerOpen = false;
                                drawer.close()">
                </app-review>
            }
        }
    } @placeholder { <br> }
    </mat-drawer>
    <mat-drawer-content>
        <div>
        <table [style.height]="isDrawerOpen ? '500px' : '250px'" cellpadding="10">
        <tr>
            <td>
                <div (click)="isUploadDrawer = true;
                              isDrawerOpen = !drawer.opened;
                              drawer.toggle()"
                        style="width: 80px; text-align: center; cursor: pointer;">
                    <button mat-fab color="primary">
                        <mat-icon>add_a_photo</mat-icon>
                    </button>
                    <p style="margin-top: 10px;">
                        <b>Unggah<br>Foto</b>
                    </p>
                </div>
                @if (userProfile && userProfile.role >= USER_ROLE.MODERATOR) {
                    <br>
                    <button *ngIf="a.totalPendingTps" [disabled]="isProcessing > 0"
                        (click)="reviewNextPendingUpload();
                                 isUploadDrawer = false;
                                 isLaporDrawer = false;
                                 isDrawerOpen = !drawer.opened;
                                 drawer.toggle()"
                        mat-raised-button color="accent">
                        <mat-icon>description</mat-icon>
                         ({{ numPendingUploads(a) }})
                    </button>
                } @else {
                    <span *ngIf="a.totalPendingTps">{{ numPendingUploads(a) }} Unreviewed</span>
                }
            </td>
    @if (c.agg.length > 1) {
        @for (tps of c.agg.slice(1); track tps.uploadedPhoto?.imageId) {
        <td valign="top" [class]="tps.totalLaporTps ? 'foto-terlapor' : ''"
            [style.background-color]="tps.uploadedPhoto?.kpuData ? 'lightgreen' : ''">
            <div style="height: 125px; padding-bottom: 5px">
                <app-photo [photoUrl]="tps.uploadedPhoto?.photoUrl || ''"
                            [roiToolTip]="[tps.uploadedPhoto?.photoUrl || '', tpsId]">
                </app-photo>
            </div>
            @if (userProfile && userProfile.role >= USER_ROLE.MODERATOR && tps.ouid != KPU_UID) {
                <div style="float: right;">
                <button mat-mini-fab color="basic" (click)="
                    reReview(tps);
                    isUploadDrawer = false;
                    isLaporDrawer = false;
                    isDrawerOpen = !drawer.opened;
                    drawer.toggle()">
                    <mat-icon>edit</mat-icon>
                </button>
                </div>
            }
            <span>Pas1: {{ tps.pas1 }}</span><br>
            <span>Pas2: {{ tps.pas2 }}</span><br>
            <span>Pas3: {{ tps.pas3 }}</span><br>
            @if (tps.uploadedPhoto?.kpuData) {
                <b>[KPU]</b><br><br>
                @if (tps.uploadedPhoto?.samBot && (tps.uploadedPhoto?.samBot?.outcome?.confidence || 0) > 0.7) {
                  <span>Pas1: {{ tps.uploadedPhoto?.samBot?.outcome?.anies }}</span><br>
                  <span>Pas2: {{ tps.uploadedPhoto?.samBot?.outcome?.prabowo }}</span><br>
                  <span>Pas3: {{ tps.uploadedPhoto?.samBot?.outcome?.ganjar }}</span><br>
                  <b>[KP AI]</b><br>
                }
            } @else if ((userProfile?.role || 0) >= USER_ROLE.ADMIN) {
                @if (tps.uid) {
                    R:<app-profile-link [uid]="tps.uid"></app-profile-link><br>
                }
                @if (tps.ouid) {
                    U:<app-profile-link [uid]="tps.ouid"></app-profile-link><br>
                }
            }
            @if (tps.updateTs === 0) {
                <mat-spinner [diameter]="15" style="float: left; margin-right: 5px">
                </mat-spinner>
                @if (tps.status === APPROVAL_STATUS.NEW) {
                    Uploading ...
                } @else if (tps.status === APPROVAL_STATUS.APPROVED) {
                    Approving ...
                } @else if (tps.status === APPROVAL_STATUS.REJECTED) {
                    Rejecting ...
                } @else if (tps.status === APPROVAL_STATUS.MOVED) {
                    Moving ...
                } @else if (tps.status === APPROVAL_STATUS.LAPOR) {
                    Laporing ...
                }
            } @else if (userProfile) {
                <button class="lapor" mat-raised-button color="basic" (click)="
                    lapor(tps);
                    isUploadDrawer = false;
                    isLaporDrawer = true;
                    isDrawerOpen = !drawer.opened;
                    drawer.toggle()">
                    <mat-icon>error</mat-icon>
                    Lapor
                </button>
            }
        </td>
        }
    }
    @if (userProfile?.uploads; as uploads) {
        @if (uploads[tpsId]; as u) {
            @for (u of c.userUploads; track u.imageId) {
                <td class="foto" valign="top">
                    <div style="height: 125px; padding-bottom: 5px">
                        <app-photo [photoUrl]="u.servingUrl"
                                [roiToolTip]="[u.servingUrl, tpsId]">
                        </app-photo>
                    </div>
                    @if (u.votes[0]; as v) {
                        <span>Pas1: {{ v.pas1 }}</span><br>
                        <span>Pas2: {{ v.pas2 }}</span><br>
                        <span>Pas3: {{ v.pas3 }}</span><br>
                    }
                    @if (u.status === APPROVAL_STATUS.NEW) {
                        Pending Review
                    } @else if (u.status === APPROVAL_STATUS.REJECTED) {
                        Rejected
                    } @else if (u.status === APPROVAL_STATUS.MOVED) {
                        Moved
                    }
                </td>
            }
        }
    }
    @if ((userProfile?.role || 0) >= USER_ROLE.ADMIN) {
        <td class="foto" valign="top">
            <button *ngIf="uploadHistory === null" mat-raised-button color="primary" style="height: 80px"
                (click)="getUploadHistory()" [disabled]="service.rpcIsRunning">
                View<br>
                Upload<br>
                History
            </button>
            @for (u of uploadHistory || []; track u.imageId) {
                <td class="foto" valign="top">
                    <div style="height: 125px; padding-bottom: 5px">
                        <app-photo [photoUrl]="u.servingUrl"
                                [roiToolTip]="[u.servingUrl, tpsId]">
                        </app-photo>
                    </div>
                    <div style="float: right;">
                        <button mat-mini-fab color="basic" (click)="
                            reviewUploadRequest = u;
                            isUploadDrawer = false;
                            isLaporDrawer = false;
                            isDrawerOpen = !drawer.opened;
                            drawer.toggle()">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>

                    @if (u.votes[0]; as v) {
                        <span>Pas1: {{ v.pas1 }}</span><br>
                        <span>Pas2: {{ v.pas2 }}</span><br>
                        <span>Pas3: {{ v.pas3 }}</span><br>
                    }
                    @if (u.status === APPROVAL_STATUS.NEW) {
                        Pending Review
                    } @else if (u.status === APPROVAL_STATUS.REJECTED) {
                        Rejected
                    } @else if (u.status === APPROVAL_STATUS.MOVED) {
                        Moved
                    }
                    <br>
                    @for (v of u.votes; track v; let i = $index) {
                        @if ($last && v.uid) {
                            U:<app-profile-link [uid]="v.uid"></app-profile-link>
                        } @else if (v.uid) {
                            R:<app-profile-link [uid]="v.uid"></app-profile-link>
                        } @else {
                            ???
                        }
                        [{{ v.pas1 }},
                        {{ v.pas2 }},
                        {{ v.pas3 }}]
                        {{ APPROVAL_STATUS[v.status ?? 0] }}
                        {{ v.updateTs | date:'short' }}
                        <br>
                    }
                </td>
            }
        </td>
    }
                <td valign="top" *ngIf="false">
                    <div style="width: 170px">
                        <h4><b>Komitmen Partisipasi</b></h4>
                        @if (userProfile?.jagaTps?.[tpsId]) {
                            <p [style.background-color]="userProfile?.jagaTps?.[tpsId] ? 'lightgreen' : ''">
                                <b>Terima Kasih atas partisipasi anda untuk menjaga TPS ini!</b>
                            </p>
                        } @else if (userProfile) {
                            <p>Jika Anda berencana mengunggah foto pada tanggal <strong>14 Februari 2024</strong> di TPS ini,
                                mohon klik tombol di bawah ini untuk menandai bahwa <b>Anda bersedia menjaga TPS ini</b>:</p>
                                <button mat-raised-button color="primary"
                            (click)="service.jagaTps(tpsId)" [disabled]="service.rpcIsRunning">
                                <!-- <mat-icon>where_to_vote</mat-icon> -->
                                Saya Jaga TPS ini
                            </button>
                        } @else {
                            <button mat-raised-button color="warn"
                                style="height: 70px"
                                (click)="service.login()">
                                Masuk untuk<br>Jaga TPS ini
                            </button>
                        }
                    </div>
                </td>
            </tr>
        </table>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
