<table cellpadding="0" cellspacing="0">
<tr>
    <td>
        <mat-form-field style="width: 100px" subscriptSizing="dynamic">
            <mat-label><mat-icon aria-hidden="false" aria-label="Search icon" fontIcon="search"></mat-icon>
 Cari</mat-label>
            <input type="text" placeholder="No. TPS" matInput
                [formControl]="myControl" #firstInput>
        </mat-form-field>
    </td>
    <td>
        <mat-checkbox [(ngModel)]="service.isPendingTps">Pending</mat-checkbox>
    </td>
    <td>
        <mat-checkbox [(ngModel)]="service.isErrorTps">Error</mat-checkbox>
    </td>
    <td>
        <mat-checkbox [(ngModel)]="service.isCompleteTps">Complete</mat-checkbox>
    </td>
</tr>
</table>

<!-- Needed for automatic sub-and-unsubsciption by the template. -->
{{ tpsNo$ | async }}

<table class="collapsed_border">
    @for (c of filter(lokasi.children); track c.id) {
    @defer (on viewport) {
    <tr *ngIf="c.agg[0] as a">
        @if (lokasi.id + c.id; as tpsId) {
        <td width="145" align="center" nowrap valign="top"
            [style.background-color]="a.totalPendingTps ? 'orange' : ''">
            <br>
            <b style="font-size: large">TPS #{{ a.name }}</b>
            <br>
            <br>
            Pas1: <b>{{ a.pas1 }}</b><br>
            Pas2: <b>{{ a.pas2 }}</b><br>
            Pas3: <b>{{ a.pas3 }}</b><br>
            <br>
            DPT: <b>{{ a.dpt }}</b><br>
            @if (a.totalErrorTps) {
                <b style="color: red">Error!</b><br>
                <br>
            }
            @if (userProfile && userProfile.role >= USER_ROLE.MODERATOR) {
                <button *ngIf="a.totalPendingTps" [disabled]="isProcessing[tpsId] > 0"
                    (click)="isUploadDrawer[tpsId] = false; isDrawerOpen[tpsId] = !drawer.opened; drawer.toggle()"
                    mat-raised-button color="accent">Review ({{ numPendingUploads(a) }})</button>
            } @else {
                <span *ngIf="a.totalPendingTps">{{ numPendingUploads(a) }} Unreviewed</span>
            }
        </td>
        <td width="*" align="left">
            <mat-drawer-container [hasBackdrop]="true">
                <mat-drawer #drawer mode="over" (openedChange)="isDrawerOpen[tpsId] = $event">
                @defer (on viewport) {
                    @if (isUploadDrawer[tpsId]) {
                        <app-upload [id]="tpsId" [votes]="a" [userProfile]="userProfile"
                            (onUpload)="onUploadOrReview(tpsId, c, $event); isDrawerOpen[tpsId] = false; drawer.close()">
                        </app-upload>
                    } @else if (userProfile && userProfile.role >= USER_ROLE.MODERATOR) {
                        <app-review [id]="tpsId"
                            (onReview)="onUploadOrReview(tpsId, c, $event); isDrawerOpen[tpsId] = false; drawer.close()">
                        </app-review>
                    }
                } @placeholder {
                    <br>
                }
                </mat-drawer>
                <mat-drawer-content>
                    <div style="min-width: 250px; overflow-x: scroll"
                        [style.width]="(service.viewportWidth - 150) + 'px'">
                    <table [style.height]="isDrawerOpen[tpsId] ? '500px' : '250px'" cellpadding="10">
                    <tr>
                        <td>
                            <div (click)="isUploadDrawer[tpsId] = true; isDrawerOpen[tpsId] = !drawer.opened; drawer.toggle()"
                                    style="width: 80px; text-align: center; cursor: pointer;">
                                <button mat-fab color="primary">
                                    <mat-icon>add_a_photo</mat-icon>
                                </button>
                                <p style="margin-top: 10px;">
                                    <b>Upload<br>Photo</b>
                                </p>
                            </div>
                        </td>
            @if (c.agg.length > 1) {
                @for (tps of c.agg.slice(1); track tps.uploadedPhoto?.imageId) {
                <td valign="top">
                    <div style="height: 125px; padding-bottom: 5px">
                      <app-photo [photoUrl]="tps.uploadedPhoto?.photoUrl || ''" [roiToolTip]="roiUrl(lokasi.id, c.id, tps.uploadedPhoto?.photoUrl)"></app-photo>
                    </div>
                    Pas1: {{ tps.pas1 }}<br>
                    Pas2: {{ tps.pas2 }}<br>
                    Pas3: {{ tps.pas3 }}<br>
                    @if (tps.updateTs === 0) {
                        <mat-spinner [diameter]="15" style="float: left; margin-right: 5px">
                        </mat-spinner>
                        @if (tps.status === APPROVAL_STATUS.NEW) {
                            Uploading ...
                        } @else if (tps.status === APPROVAL_STATUS.APPROVED) {
                            Approving ...
                        } @else if (tps.status === APPROVAL_STATUS.REJECTED) {
                            Rejecting ...
                        }
                    }
                </td>
                }
            }
            @if (userProfile?.uploads; as uploads) {
                @if (uploads[tpsId]; as u) {
                    @for (u of c.userUploads; track u.imageId) {
                        <td valign="top">
                            <div style="height: 125px; padding-bottom: 5px">
                                <app-photo [photoUrl]="u.servingUrl"></app-photo>
                            </div>
                            @if (u.votes[0]; as v) {
                                Pas1: {{ v.pas1 }}<br>
                                Pas2: {{ v.pas2 }}<br>
                                Pas3: {{ v.pas3 }}<br>
                            }
                            @if (u.status === APPROVAL_STATUS.NEW) {
                                Pending Review
                            } @else if (u.status === APPROVAL_STATUS.REJECTED) {
                                Rejected
                            }
                        </td>
                    }
                }
            }
                    </tr>
                    </table>
                    </div>
                </mat-drawer-content>
            </mat-drawer-container>
        </td>
        }
    </tr>
    } @placeholder {
        <br>
    }
    } @empty {
        <br><br>
        <ul>
            @if (firstInput.value) {
                <li>Tidak ada TPS dengan nomor TPS = {{ firstInput.value }}</li>
            }
            @if (service.isPendingTps) {
                <li>Tidak ada TPS dengan status Pending</li>
            }
            @if (service.isErrorTps) {
                <li>Tidak ada TPS dengan status Error.</li>
            }
            @if (service.isCompleteTps) {
                <li>Tidak ada TPS dengan status Complete.</li>
            }
        </ul>
    }
</table>
