<main class="tps-list">
<section class="table-header">
    <div class="table-search">
        <mat-form-field style="width: 100px" subscriptSizing="dynamic">
            <mat-label>
              <mat-icon aria-hidden="false" aria-label="Search icon">search</mat-icon>
              Cari
            </mat-label>
            <input type="number" placeholder="No. TPS" matInput style="width: 80px"
                   min="1" max="999" [value]="tpsNo"
                   (input)="changeTpsNo($event)" #firstInput>
        </mat-form-field>
    </div>
    <div class="table-filter">
        <mat-checkbox [(ngModel)]="service.isPendingTps" (change)="updateTpsList()">Pending</mat-checkbox>
        <mat-checkbox [(ngModel)]="service.isErrorTps" (change)="updateTpsList()">Error</mat-checkbox>
        <mat-checkbox [(ngModel)]="service.isCompleteTps" (change)="updateTpsList()">Complete</mat-checkbox>
    </div>
</section>

<section class="tps-result">
    @for (c of tpsList; track c.id) {
        @defer (on viewport) {
            <div class="tps-item" *ngIf="c.agg[0] as a">
                <td class="tps" align="center" nowrap valign="top"
                    [style.background-color]="a.totalPendingTps ? '#FFD54F' : ''">
                    <br>
                    <b style="font-size: large">TPS #{{ a.name }}</b>
                    <br>
                    <br>
                    Pas1: <b>{{ a.pas1 }}</b><br>
                    Pas2: <b>{{ a.pas2 }}</b><br>
                    Pas3: <b>{{ a.pas3 }}</b><br>
                    <br>
                    DPT: <b>{{ a.dpt }}</b><br>
                    <br>
                    @if (a.totalErrorTps) {
                        <span class="error">Error!</span><br>
                        <br>
                    }
                </td>
                <td class="foto" align="left">
                    <app-tps-row [c]="c"
                        [tpsId]="lokasi.id + c.id"
                        [userProfile]="userProfile">
                    </app-tps-row>
                </td>
            </div>
        } @placeholder {
            <br>
        }
    } @empty {
        <br><br>
        <ul>
            @if (firstInput.value) {
                <li>Tidak ada TPS dengan nomor TPS = {{ firstInput.value }}</li>
            }
            @if (service.isPendingTps) {
                <li>Tidak ada TPS dengan status Pending</li>
            }
            @if (service.isErrorTps) {
                <li>Tidak ada TPS dengan status Error.</li>
            }
            @if (service.isCompleteTps) {
                <li>Tidak ada TPS dengan status Complete.</li>
            }
        </ul>
    }
</section>
</main>
