.tps-list {
  max-width: 48rem;
  margin: auto;
}

.tps-item {
  display: flex;
  justify-content: flex-start;
  border: 1px solid #000000de;
  border-top: none;
}

.tps-item:first-child {
  border-top: #000000de 1px solid;
}

.tps-item > .tps {
  min-width: 5rem;
  border-right: #000000de 1px solid;
}

.tps-item > .foto {
  flex: 1 1 auto;
  overflow-x: scroll;
}

section.table-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
}

section.table-header > .table-search {
  flex: 1 1 auto;
}

section.table-header > .table-search > .mat-mdc-form-field {
  min-width: 6rem;
}

section.table-header > .table-search > .mat-mdc-form-field .mat-icon {
  font-size: 20px;
  vertical-align: middle;
}

section.table-header > .table-filter {
  flex-grow: 0;
  padding-right: 1rem;
  display: flex;
}

@media (min-width: 414px) {
  section.table-header > .table-filter {
    padding-right: 2rem;
  }
}

td.tps {
  text-align: center;
}

td.tps.pending {
  background-color: #ffd54f; /* Amber 300 */
}

td.tps.jaga {
  background-color: #aed581; /* Light Green 300 */
}

td.tps span.tps-number {
  display: block;
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

td.tps span.tps-result,
td.tps span.tps-dpt {
  display: block;
  margin-bottom: 0.5rem;
}

td.tps span.error,
td.tps span.jaga,
td.tps span.lapor {
  height: fit-content;
  width: fit-content;
  border-radius: 1rem;
  padding: 0.1rem 0.5rem;
  color: white;
  font-size: 0.7rem;
  display: block;
  margin: 0.25rem auto;
}

span.error {
  background-color: #d32f2f; /* Red 700 */
}

span.jaga {
  background-color: #33691e; /* Light Green 900 */
}

span.lapor {
  background-color: #9c27b0; /* Purple 500 */
}

td.foto {
  text-align: center;
}

td.foto-terlapor {
  background-color: #ce93d8; /* Purple 200 */
  text-align: center;
}

td.foto-kpu {
  background-color: #e0f2f1; /* Teal 50 */
}

button.lapor {
  margin-top: 1rem;
}

.paslon-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.paslon-wrapper .vote {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.data-detail {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.data-detail .sambot {
  display: flex;
  flex-direction: column;
}

.data-detail .history {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  gap: 2px;
}
