.tps-list {
  max-width: 48rem;
  margin: auto;
}

.tps-item {
  display: flex;
  justify-content: flex-start;
  border: 1px solid #000000DE;
  border-top: none;
}

.tps-item:first-child {
  border-top: #000000DE 1px solid;
}

.tps-item > .tps {
  min-width:  7rem;
  border-right: #000000DE 1px solid;
}

.tps-item > .foto {
  flex: 1 1 auto;
  overflow-x: scroll;
}

section.table-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
}

section.table-header > .table-search {
  flex: 1 1 auto;
}

section.table-header > .table-search > .mat-mdc-form-field {
  min-width: 6rem;
}

section.table-header > .table-search > .mat-mdc-form-field .mat-icon {
  font-size: 20px;
  vertical-align: middle;
}

section.table-header > .table-filter {
  flex-grow: 0;
  padding-right: 1rem;
  display: flex;
}

@media (min-width: 414px) {
  section.table-header > .table-filter {
    padding-right: 2rem;
  }
}

td.tps span.error,
td.tps span.jaga,
td.tps span.lapor {
  height: fit-content;
  width: fit-content;
  border-radius: 1rem;
  padding: 0.5rem 0.8rem;
}

span.error {
  background-color: #D32F2F; /* Red 700 */
  color: white;
}

span.jaga {
  background-color: #33691E; /* Light Green 900 */
  color: white;
}

span.lapor {
  background-color: #9C27B0; /* Purple 500 */
  color: white;
}

td.foto-terlapor {
  background-color: #CE93D8; /* Purple 200 */
}
