.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h1.app-name {
  margin-left: 8px;
}

.sidenav-container {
  flex: 1;
}

.sidenav-container .mat-icon {
  vertical-align: middle;
}

.spacer {
  flex: 1 1 auto;
}

.mat-mdc-button {
  flex: 1 1 auto;
}

.mat-mdc-button.active {
  color: #ff4081;
}

.profile-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  vertical-align: middle;
  cursor: pointer;
}

.banner {
  background-color: #FF6F00;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 0.6rem;
  line-height: 0.9rem;
}

@media (min-width: 600px) {
  .banner {
    font-size: 0.85rem;
    padding: 0.75rem 2rem;
    line-height: 1rem;
  }
}
