.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

button.app-menu {
  background: none;
  border: none;
  padding-left: 0;
  padding-right: 1rem;
}

button.app-menu img.app-logo {
  height: 40px;
  width: auto;
  transition: transform 0.3s ease;
}

button.app-menu img.app-logo:hover {
  transform: scale(1.2);
}

a.app-home-link {
  text-decoration: none;
  color: white;
  height: 60px;
}

a.app-home-link h1.app-home-title {
  text-decoration: none;
  color: white;
  line-height: 60px;
  font-weight: bold;
}

a.app-home-link h1.app-home-title .kp {
  color: #6C6D73; /* KawalPemilu 2024 Dim Gray */
  margin-right: 0.25rem;
}

a.app-home-link h1.app-home-title .kp24 {
  color: #EE161F; /* KawalPemilu 2024 Red */
}

a.app-home-link h1.app-home-title:hover {
  color: rgba(255, 255, 255, 0.9);
}

.sidenav-container {
  flex: 1;
}

.sidenav-container .mat-icon {
  vertical-align: middle;
}

.spacer {
  flex: 1 1 auto;
}

.mat-mdc-button {
  flex: 1 1 auto;
}

.mat-mdc-button.active {
  color: #EE161F; /* KawalPemilu 2024 Red */
}

.profile-image {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  top: -0.25rem;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 0.5rem;
}

.banner {
  background-color: #FFB74D; /* Orange 300 */
  color: #000000DE;
  padding: 0.5rem 2rem;
  text-align: center;
  font-size: 0.6rem;
  line-height: 0.9rem;
}

.banner-text {
  margin: auto;
  max-width: 48rem;
}

@media (min-width: 36rem) {
  .banner {
    font-size: 0.85rem;
    padding: 0.75rem 2rem;
    line-height: 1rem;
  }
}

.toolbar {
  height: 4rem;
  background-color: #91468933; /* KawalPemilu 2024 Plum with transparency */
  padding: 0 2rem;
}

.toolbar .top-nav-container,
.toolbar .bottom-nav-container {
  max-width: 48rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.toolbar .bottom-nav-container .mat-mdc-button {
  padding: 0.5rem 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
}

.toolbar .mat-mdc-button > .mat-icon,
.toolbar .about-logo {
  margin-right: 0px;
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
}

@media (min-width: 48rem) {
  .toolbar .mat-mdc-button>.mat-icon,
  .toolbar .about-logo {
    font-size: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
  }

  a.home::after {
    content: 'Beranda';
  }

  a.search::after {
    content: 'Cari Lokasi TPS';
  }

  a.profile::after {
    content: 'Profil Saya';
  }

  a.manage::after {
    content: 'User Management';
  }

  a.login::after {
    content: 'Masuk';
  }

  a.logout::after {
    content: 'Keluar';
  }

  a.about::after {
    content: 'Tentang Kami'
  }
}
