<div class="container">
    <header class="toolbar top-nav">
        <div class="top-nav-container">
            <button class="app-menu" style="cursor: pointer;" (click)="snav.toggle()">
                <img class="app-logo" src="assets/apple-touch-icon.png" width="3rem" height="3rem" alt="Logo KawalPemilu 2024">
            </button>
            <a class="app-home-link" routerLink="/h" (click)="snav.close()">
                <h1 class="app-home-title">
                    <span class="kp">KawalPemilu</span>
                    <span class="kp24">2024</span>
                </h1>
            </a>
            <span class="spacer"></span>
            @if (service.profile$ | async; as p) {
                <a routerLink="/profile">
                    <img [src]="p.pic" alt="Profile picture" class="profile-image">
                    <span class="sr-only">Profil Saya</span>
                </a>
            } @else {
                <a mat-icon-button routerLink="/profile">
                    <mat-icon style="font-size: 26px">account_circle</mat-icon>
                    <span class="sr-only">Masuk</span>
                </a>
            }
        </div>
    </header>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav mode="over">
      <mat-nav-list>
        <a mat-list-item (click)="router.navigate(['/h', '']); snav.close()">
          <mat-icon>home</mat-icon>
          Beranda
        </a>
        <a mat-list-item (click)="router.navigate(['/search']); snav.close()">
          <mat-icon>search</mat-icon>
          Cari Lokasi TPS
        </a>
        @if (service.auth.currentUser; as u) {
          <a mat-list-item (click)="router.navigate(['/profile']); snav.close()">
            <mat-icon>person</mat-icon>
            Profil Saya
          </a>
          @if (service.profile$ | async; as p) {
            @if (p.role >= USER_ROLE.ADMIN) {
              <a mat-list-item (click)="router.navigate(['/manage']); snav.close()">
                <mat-icon>manage_accounts</mat-icon>
                User Management
              </a>
              <a mat-list-item (click)="router.navigate(['/leaderboard']); snav.close()">
                <mat-icon>leaderboard</mat-icon>
                Leaderboard
              </a>
            }
          }
          <hr>
          <a mat-list-item (click)="service.logout()">
            <mat-icon>logout</mat-icon>
            Keluar
          </a>
        } @else {
          <a mat-list-item (click)="service.login()">
            <mat-icon>login</mat-icon>
            Masuk
          </a>
        }
        <a mat-list-item (click)="router.navigate(['/about']); snav.close()">
          <img src="assets/apple-touch-icon.png" width="24px" height="24px" style="vertical-align: middle; height: 24px;">
          Tentang Kami
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <div class="banner">
      <div class="banner-text">
          Selama masa tenang pada <strong>13 Februari 2024</strong>, jangan mengunggah foto,
          tapi ajaklah teman untuk jaga TPS.
          <a routerLink="/search">Cari TPS</a> yang akan dijaga,
          lalu klik tombol <span class="button">Saya Jaga TPS ini</span>
          untuk menandai komitmen Anda menjaga TPS tersebut,
          seperti <a href="https://www.instagram.com/p/C3HzSO3yYgl" target="_blank">Jeng Yah yang jagain Bengkulu</a>.
          <!-- TODO: Replace masa tenang banner with this disclaimer on February 14th. -->
          <!-- Hasil yang terpapar di situs ini tidak dapat digunakan untuk menentukan hasil akhir Pilpres 2024. -->
      </div>
  </div>

  <footer class="toolbar bottom-nav">
      <div class="bottom-nav-container">
          <a class="home" mat-button routerLink="/h" routerLinkActive="active" ariaCurrentWhenActive="page">
              <mat-icon>home</mat-icon>
              <span class="sr-only">Beranda</span>
          </a>
          <a class="search" mat-button routerLink="/search" routerLinkActive="active" ariaCurrentWhenActive="page">
              <mat-icon>search</mat-icon>
              <span class="sr-only">Cari Lokasi TPS</span>
          </a>
          @if (service.auth.currentUser; as u) {
            <a class="profile" mat-button routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page">
              <mat-icon>person</mat-icon>
              <span class="sr-only">Profil Saya</span>
            </a>
          } @else {
            <a class="login" mat-button (click)="service.login()">
                <mat-icon>login</mat-icon>
                <span class="sr-only">Masuk</span>
            </a>
          }
          <a class="about" mat-button routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img class="about-logo" src="assets/apple-touch-icon.png" alt="Logo KawalPemilu 2024" width="48px" height="48px">
            <span class="sr-only">Tentang Kami</span>
          </a>
      </div>
  </footer>
</div>
