.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

button.app-menu {
  background: none;
  border: none;
  padding: 0 1rem;
}

button.app-menu img.app-logo {
  height: 40px;
  width: auto;
  transition: transform 0.3s ease;
}

button.app-menu img.app-logo:hover {
  transform: scale(1.2);
}

a.app-home-link {
  text-decoration: none;
  color: white;
  height: 60px;
}

a.app-home-link h1.app-home-title {
  text-decoration: none;
  color: white;
  line-height: 60px;
}

a.app-home-link h1.app-home-title:hover {
  color: rgba(255, 255, 255, 0.9);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.sidenav-container {
  flex: 1;
}

.sidenav-container .mat-icon {
  vertical-align: middle;
}

.spacer {
  flex: 1 1 auto;
}

.mat-mdc-button {
  flex: 1 1 auto;
}

.mat-mdc-button.active {
  color: #EE161F; /* KawalPemilu 2024 Red */
}

.profile-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  vertical-align: middle;
  cursor: pointer;
}

.banner {
  background-color: #FFB74D; /* Orange 300 */
  color: #000000DE;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 0.6rem;
  line-height: 0.9rem;
}

@media (min-width: 600px) {
  .banner {
    font-size: 0.85rem;
    padding: 0.75rem 2rem;
    line-height: 1rem;
  }
}

.toolbar .mat-mdc-button > .mat-icon,
.toolbar .about-logo {
  margin-right: 0px;
}

@media (min-width: 780px) {
  .toolbar .mat-mdc-button>.mat-icon,
  .toolbar .about-logo {
    margin-right: 8px;
  }

  a.home::after {
    content: 'Beranda';
  }

  a.search::after {
    content: 'Cari Lokasi TPS';
  }

  a.profile::after {
    content: 'Profil Saya';
  }

  a.manage::after {
    content: 'User Management';
  }

  a.login::after {
    content: 'Masuk';
  }

  a.logout::after {
    content: 'Keluar';
  }

  a.about::after {
    content: 'Tentang Kami'
  }
}
