<form #form="ngForm" (ngSubmit)="onDigitized()">
<table class="collapsed_border">
    <tr>
        <td>Paslon #1</td>
        <td><input type="number" name="pas1" style="width: 50px;"
            [(ngModel)]="votes.pas1" required autofocus #firstInput>
        </td>
    </tr>
    <tr>
        <td>Paslon #2</td>
        <td><input type="number" name="pas2" style="width: 50px;"
            [(ngModel)]="votes.pas2" required>
        </td>
    </tr>
    <tr>
        <td>Paslon #3</td>
        <td><input type="number" name="pas3" style="width: 50px;"
            [(ngModel)]="votes.pas3" required>
        </td>
    </tr>
    <tr>
        <td colspan="2">
          <button mat-raised-button color="warn"
            (click)="status = APPROVAL_STATUS.REJECTED">
            {{ review ? 'Reject' : 'Batal' }}
          </button>
          &nbsp; &nbsp;
          <button mat-raised-button color="primary" [disabled]="!form.valid"
              (click)="status = APPROVAL_STATUS.APPROVED">
              {{ review ? 'Approve' : 'Kirim' }}
          </button>
        </td>
    </tr>
</table>
</form>
