<div style="width: 250px">
@if (!service.auth.currentUser) {
    <br><br>
    <button mat-raised-button color="warn" (click)="service.login()">
        Sign In to Upload Photo
    </button>
} @else if (service.userExceedsMaxUploads()) {
    <br><br>
    Max Uploads Exceeded
} @else if (digitizing) {
    <img style="max-width: 250px; max-height: 250px;" [src]="imgURL" />
    <p>
        Masukkan jumlah suara:
    </p>
    <form #form="ngForm" (ngSubmit)="submitPhoto()">
    <table class="collapsed_border">
        <tr>
            <td>Paslon #1</td>
            <td><input type="number" name="pas1" style="width: 50px;" [(ngModel)]="pas1" #firstInput required></td>
        </tr>
        <tr>
            <td>Paslon #2</td>
            <td><input type="number" name="pas2" style="width: 50px;" [(ngModel)]="pas2" required></td>
        </tr>
        <tr>
            <td>Paslon #3</td>
            <td><input type="number" name="pas3" style="width: 50px;" [(ngModel)]="pas3" required></td>
        </tr>
        <tr>
            <td colspan="2">
                <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
                    Submit
                </button>
                &nbsp; &nbsp;
                <button mat-raised-button color="warn" (click)="cancelSubmit()">
                    Cancel
                </button>
            </td>
        </tr>
    </table>
    </form>
    <br><br>
} @else if (uploading) {
    <br><br>
    Uploading your photo<br>
    <mat-spinner></mat-spinner>
} @else {
    <h3>Instruksi untuk upload foto:</h3>

    <ul>
        <li>Ambil foto form [C1 plano] yang telah <b>ditanda tangan</b> oleh semua pihak dan simpan foto tersebut di HP anda.</li>
        <li>Pastikan angka di foto yang diambil terlihat jelas. [link ke contoh]</li>
        <li>Klik tombol dibawah untuk mengupload foto tersebut ke KawalPemilu:</li>
    </ul>

    <input #u type="file" (change)="handleUpload($event)" style="display: none" accept="image/*" />
    <br>
    <button mat-raised-button color="primary" (click)="u.click()" style="margin-left: 10px">
        Upload Foto
    </button>
}
</div>
