<div style="width: 225px; padding-right: 8px;">
@if (!service.auth.currentUser) {
    <br><br>
    <button mat-raised-button color="warn" (click)="service.login()">
        Masuk untuk Unggah Foto
    </button>
} @else if (userExceedsMaxUploads()) {
    <br><br>
    Max Uploads Exceeded
} @else if (digitizing) {
    <img style="max-width: 250px; max-height: 250px;" [src]="imgURL" />
    <p>
        Masukkan jumlah suara:
    </p>
    <app-digitize
        [votes]="votes"
        [imageId]="imageId"
        (onSubmit)="onDigitized($event)">
    </app-digitize>
    <br><br>
} @else {
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Cara mengunggah foto
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="instructions">
            <li>Ambil foto C.HASIL-PPWP atau C.HASIL SALINAN-PPWP <strong>halaman 2</strong> yang jelas menunjukkan <strong>nomor TPS</strong> dan <strong>lokasinya</strong> (kelurahan, kecamatan), beserta angka perolehan tiap pasangan calon. Berikut contohnya:
              <ul>
                <li>
                  <a href="/assets/C.HASIL-PPWP.pdf" target="_blank" rel="noopener noreferrer" >C.HASIL-PPWP.pdf</a>
                </li>
                <li>
                  <a href="/assets/C.HASIL%20SALINAN-PPWP.pdf" target="_blank" rel="noopener noreferrer" >C.HASIL SALINAN-PPWP.pdf</a>
                </li>
                <li>
                  <a href="/assets/contoh-form-c1.jpeg" target="_blank" rel="noopener noreferrer" >C.HASIL-PPWP halaman 2 (Bagian IV)</a>
                </li>
              </ul>
            </li>
            <li>Pastikan angka di formnya final dan telah ditulis dalam bentuk <strong>angka</strong> (32) dan <strong>huruf</strong> (tiga puluh dua), lebih baik lagi jika sudah ditandatangani KPPS dan para Saksi.</li>
            <li>Lalu isikan angka perolehan tiap paslon dan klik <strong>Kirim</strong>.</li>
            <li>Anda juga <strong>bisa mengunggah foto dari banyak TPS</strong>. Yang penting fotonya adalah form C.HASIL-PPWP halaman 2.</li>
            <li>Pastikan Anda mengunggah di nomor TPS yang tepat.</li>
            <li>Klik tombol <strong>Unggah Foto</strong> di bawah untuk mulai mengunggah.</li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>

    <input #u type="file" (change)="handleUpload($event)" style="display: none" accept="image/*" />
    <br>
    <button mat-raised-button color="primary" (click)="u.click()" style="margin-left: 10px">
        Unggah Foto
    </button>
}
</div>
