<div *ngIf="id$ | async as id" style="padding: 20px">
<p>
    <a [routerLink]="['/h', id.substring(0, 10)]">&lt;&lt; Back To TPS</a>
</p>

<br>

@if (loading) {
    <mat-spinner></mat-spinner>
} @else if (!auth.currentUser) {
    <button mat-raised-button color="warn" (click)="login()">Sign In to Upload Photo</button>
} @else {
    @if (uploading) {
        Uploading your photo<br>
        <mat-spinner></mat-spinner>
    } @else {
        <!-- <table class="collapsed_border">
            <tr>
                <td>Paslon #1</td>
                <td><input type="number" style="width: 50px;"></td>
            </tr>
            <tr>
                <td>Paslon #2</td>
                <td><input type="number" style="width: 50px;"></td>
            </tr>
            <tr>
                <td>Paslon #3</td>
                <td><input type="number" style="width: 50px;"></td>
            </tr>
            <tr>
                <td>Sah</td>
                <td><input type="number" style="width: 50px;"></td>
            </tr>
            <tr>
                <td>Tidak Sah</td>
                <td><input type="number" style="width: 50px;"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button mat-raised-button color="primary" (click)="upload()">
                        Submit Votes
                    </button>
                </td>
            </tr>
        </table>

        <br><br> -->

        <input #u type="file" (change)="handleUpload($event)" style="display: none" />
        <button mat-raised-button color="primary" (click)="u.click()">Upload Photo</button>
    }
}

<br>
<br>
@if (tpsVotes.length > 0) {
    <p>Uploaded Photo:</p>
    @for (tps of tpsVotes; track tps.imageId) {
        <img [src]="tps.photoUrl" width="100%" /><br>
        <pre>{{ tps | json }}</pre>
        <hr><br>
    }
}
</div>
