<main class="management">
@if (service.profile$ | async; as p) {
@if (p.role >= USER_ROLE.ADMIN) {
<table>
<tr>
    <td>
        <mat-form-field style="width: 225px" subscriptSizing="dynamic">
            <input #nama matInput placeholder="Cari Nama User" type="text" autocomplete="off"
                (input)="cari$.next(nama.value)" />
        </mat-form-field>
    </td>
    <td style="padding-left: 10px">
        Filter Role:<br>
        <select (change)="changeRoleFilter($event)">
            <option [value]="-1">ANY_ROLE</option><br>
            <option [value]="USER_ROLE.BANNED">BANNED</option><br>
            <option [value]="USER_ROLE.RELAWAN">RELAWAN</option><br>
            <option [value]="USER_ROLE.MODERATOR">MODERATOR</option><br>
            <option [value]="USER_ROLE.ADMIN">ADMIN</option>
            <option [value]="USER_ROLE.ROOT">ROOT</option>
        </select>
    </td>
</tr>
</table>

<br>

<table class="collapsed_border">
<tr>
    <th>Pic</th>
    <th>Name, Email, UID, Stats, Role</th>
</tr>
@for (u of users$ | async; track u.uid) {
<tr>
    <td class="profile-picture"><img [src]="u.pic" /></td>
    <td>
        {{ u.name }}<br>
        ({{ u.email }})<br>
        {{ u.uid }}<br>
        Created: {{ u.createdTs | date }}<br>
        @if (u.uploadCount || u.reviewCount || u.laporCount) {
            @if (u.uploadCount) { {{ u.uploadCount }} uploads, }
            @if (u.reviewCount) { {{ u.reviewCount }} reviews, }
            @if (u.laporCount) { {{ u.laporCount || 0 }} lapors }
            <br>
        }
        Role:
        <select [(ngModel)]="u.role" (change)="changeRole(u)">
            @if (p.role >= USER_ROLE.MODERATOR) {
                <option [value]="USER_ROLE.BANNED">BANNED</option>
                <option [value]="USER_ROLE.RELAWAN">RELAWAN</option>
            }
            @if (p.role >= USER_ROLE.ADMIN) {
                <option [value]="USER_ROLE.MODERATOR">MODERATOR</option>
            }
            @if (p.role >= USER_ROLE.ROOT) {
                <option [value]="USER_ROLE.ADMIN">ADMIN</option>
            }
        </select>
    </td>
</tr>
} @empty {
    <br>
    No user found.
}
</table>

}
}
</main>
