<main class="management">
@if (service.profile$ | async; as p) {
@if (p.role >= USER_ROLE.ADMIN) {
<mat-form-field style="width: 225px">
    <input #nama matInput placeholder="Cari Nama User" type="text" autocomplete="off"
        (input)="cari$.next(nama.value)" />
</mat-form-field>

&nbsp;
Filter Role:
<select (change)="changeRoleFilter($event)">
    <option [value]="-1">ANY_ROLE</option><br>
    <option [value]="USER_ROLE.BANNED">BANNED</option><br>
    <option [value]="USER_ROLE.RELAWAN">RELAWAN</option><br>
    <option [value]="USER_ROLE.MODERATOR">MODERATOR</option><br>
    <option [value]="USER_ROLE.ADMIN">ADMIN</option>
    <option [value]="USER_ROLE.ROOT">ROOT</option>
</select>

<p>Search Results:</p>

<table class="collapsed_border">
<tr>
    <th>Pic</th>
    <th>Name, Email, UID, Stats</th>
    <th>Change Role</th>
</tr>
@for (u of users$ | async; track u.uid) {
<tr>
    <td class="profile-picture"><img [src]="u.pic" /></td>
    <td>
        {{ u.name }}<br>
        ({{ u.email }})<br>
        {{ u.uid }}<br>
        Created: {{ u.createdTs | date }}<br>
        @if (u.uploadCount) { {{ u.uploadCount }} uploads, }
        @if (u.reviewCount) { {{ u.reviewCount }} reviews, }
        @if (u.laporCount) { {{ u.laporCount || 0 }} lapors }
    </td>
    <td>
        <mat-radio-group [value]="u.role" (change)="changeRole(u, $event.value)">
            @if (p.role >= USER_ROLE.MODERATOR) {
                <mat-radio-button [value]="USER_ROLE.BANNED">BANNED</mat-radio-button><br>
                <mat-radio-button [value]="USER_ROLE.RELAWAN">RELAWAN</mat-radio-button><br>
            }
            @if (p.role >= USER_ROLE.ADMIN) {
                <mat-radio-button [value]="USER_ROLE.MODERATOR">MODERATOR</mat-radio-button><br>
            }
        </mat-radio-group>
    </td>
</tr>
}
</table>

}
}
</main>
