<article class="profile">
@if (profile$ | async; as profileDetails) {
<h1>Halo, {{ getFirstName(profileDetails.profile.name) }}</h1>

@if (!profileDetails.uploads.length) {
    <p>Untuk mengupload foto, ikuti langkah berikut:</p>
    <ol>
        <li>
            Cari Lokasi TPS anda:<br>
            <img src="assets/cari-lokasi.png" width="300" />
        </li>
        <li>
            Ikuti instruksi disana:<br>
            <img src="assets/cara-upload-foto.png" width="300" />
        </li>
    </ol>

    <br>
    <p>Sudah siap? klik tombol dibawah untuk mencari TPS anda:</p>
    <button mat-raised-button color="primary" [routerLink]="['/s']">
        <mat-icon>search</mat-icon>
        Cari Lokasi TPS
    </button>
}

<!-- <table class="collapsed_border" *ngIf="profileDetails.profile as p">
    <tr>
        <td rowspan="4">
            <img [src]="p.pic" />
        </td>
    </tr>
    <tr>
        <td>Name:</td>
        <td>{{ p.name }}</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>{{ p.email }}</td>
    </tr>
    <tr>
        <td>Contributions:</td>
        <td>{{ p.uploadCount }} uploads, {{ p.reviewCount }} reviews</td>
    </tr>
</table> -->

@if (profileDetails.uploads.length) {
<h2>Uploaded Photos:</h2>
<table class="collapsed_border">
@for (u of profileDetails.uploads; track u.uploadRequest.imageId; let i = $index) {
    <tr>
        <td>
            <app-photo [photoUrl]="u.uploadRequest.servingUrl">
            </app-photo>
        </td>
        <td *ngIf="u.uploadRequest.votes[0] as v">
            {{ i + 1 }}. {{ v.updateTs | date }} [{{ STATUS[u.uploadRequest.status] }}]
            <a [routerLink]="['/h', u.uploadRequest.idLokasi]" target="_blank">
                TPS #{{ u.uploadRequest.idLokasi.substring(10) }}
            </a>
            <br>
            {{ u.lokasi.names | json }}<br>
            pas1: {{ v.pas1 }}<br>
            pas2: {{ v.pas2 }}<br>
            pas3: {{ v.pas3 }}<br>
        </td>
    </tr>
}
</table>
}

@if (profileDetails.reviews.length) {
<br>
<h2>Reviewed Photos:</h2>
<ol>
@for (r of profileDetails.reviews; track r.lokasi.id; let i = $index) {
    <li>
        Num Reviews: {{ r.numReviews }} at
        <a [routerLink]="['/h', r.idLokasi]" target="_blank">
            TPS #{{ r.idLokasi.substring(10) }}
        </a>
    </li>
}
</ol>
}

} @else {
    <button mat-raised-button color="warn" (click)="service.login()">
        Masuk untuk Unggah Foto
    </button>
}
</article>
