a.hierarchy {
  text-decoration: none;
}

.profile {
  padding: 1.5rem 2rem;
  max-width: 48rem;
  margin: auto;
}

ol.instructions {
  padding-inline-start: 1rem;
}

ol.instructions li img {
  margin: 1rem 0;
  width: 300px;
}

.lokasi:not(:last-child)::after {
  display: inline-block;
  content: "→";
}

.status {
  height: fit-content;
  width: fit-content;
  border-radius: 1rem;
  padding: 0.1rem 0.5rem;
  vertical-align: middle;
  color: white;
  display: inline-block;
}

.status.new {
  background-color: #FFD54F; /* Amber 300 */
  color: #000000DE;
}

.status.approved {
  background-color: #AED581; /* Light Green 300 */
  color: #000000DE;
}

.status.rejected {
  background-color: #D32F2F; /* Red 700 */
}

.status.moved {
  background-color: #9C27B0; /* Purple 500 */
}
