a.hierarchy {
  text-decoration: none;
}

.profile {
  padding: 1.5rem 2rem;
  max-width: 48rem;
  margin: auto;
}

ol.instructions {
  padding-inline-start: 1rem;
}

ol.instructions li img {
  margin: 1rem 0;
  width: 300px;
}

.lokasi:not(:last-child)::after {
  display: inline-block;
  content: "→";
}
