a.hierarchy {
  text-decoration: none;
}

.profile {
  padding: 1.5rem 2rem;
  max-width: 48rem;
  margin: auto;
}

section.card {
  margin: 1rem auto;
  padding: 1.25rem;
  background-color: #91468933; /* KawalPemilu 2024 Plum with transparency */
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2); /* Add shadow */
  border-radius: 1rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  width: fit-content;
  min-width: 16rem;
  max-width: 20rem;
}

section.card > img.pic {
  width: 6rem;
  height: 6rem;
  border-radius: 0.75rem;
  flex: 0 0 auto;
}

section.card > div.info {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

section.card > div.info > span.name {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

section.card > div.info > p.contribution {
  flex: 1 1 auto;
}

section.card > div.info > div.title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: -0.5rem;
}

section.card > div.info > div.title > span.role {
  height: fit-content;
  width: fit-content;
  border-radius: 1rem;
  padding: 0.1rem 0.5rem;
  font-size: 0.8rem;
  vertical-align: middle;
  display: inline-block;
  background-color: #914689; /* KawalPemilu 2024 Plum */
  color: white;
}

ol.instructions {
  padding-inline-start: 1rem;
}

ol.instructions li img {
  margin: 1rem 0;
  width: 300px;
}

table.jaga,
table.upload {
  margin: auto;
}

hr.separator:last-child {
  display: none;
}

.lokasi:not(:last-child)::after {
  display: inline-block;
  content: "→";
}

.status {
  height: fit-content;
  width: fit-content;
  border-radius: 1rem;
  padding: 0.1rem 0.5rem;
  font-size: 0.65rem;
  vertical-align: middle;
  color: white;
  display: inline-block;
}

.status.new {
  background-color: #FFD54F; /* Amber 300 */
  color: #000000DE;
}

.status.approved {
  background-color: #AED581; /* Light Green 300 */
  color: #000000DE;
}

.status.rejected {
  background-color: #D32F2F; /* Red 700 */
}

.status.moved {
  background-color: #9C27B0; /* Purple 500 */
}
