.search-results {
  margin-top: -22px;
  padding-inline-start: 0;
  padding-inline-end: 0;
  list-style-type: none;
}

.search-results > .result {
  line-height: 3;
  padding-left: 1rem;
  padding-right: 1rem;
}

.search-results > .result:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.search-results > .result > a.lokasi {
  text-decoration: none;
}
