.search {
  max-width: 48rem;
  margin: auto;
}

ul.search-results {
  padding-inline-start: 0;
  padding-inline-end: 0;
  list-style-type: none;
}

ul.search-results > li.result {
  line-height: 3;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

ul.search-results > li.result:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

ul.search-results > li.result > a.lokasi {
  text-decoration: none;
}
