<mat-form-field style="width: 100%;">
    <mat-label>Cari Lokasi TPS</mat-label>
    <input autofocus type="text" placeholder="Propinsi / Kabupaten / Kecamatan / Desa" matInput
        [formControl]="myControl" #firstInput>
</mat-form-field>


@if (results$ | async; as results) {
    <mat-list style="padding-top: 0;" role="list">
    @for (result of results; track result) {
        <mat-list-item role="listitem" lines="3">
            <span matListItemTitle>Desa
              <a [routerLink]="['/h', result.ids[result.ids.length - 1]]" routerLinkActive="router-link-active">
                <strong>{{result.names[result.names.length - 1]}}</strong>
              </a>
            </span>
            <span>
              @for (name of result.names; track name; let i = $index) {
                <a [routerLink]="['/h', result.ids[i]]" routerLinkActive="router-link-active">{{name}}</a>
                @if ($last) { <br> } @else { <mat-icon style="vertical-align: middle;">chevron_right</mat-icon> }
              }
            </span>
        </mat-list-item>
    }
    </mat-list>
}
