<mat-form-field style="width: 100%;">
    <mat-label>Cari Lokasi TPS</mat-label>
    <input autofocus type="text" placeholder="{Propinsi} {Kabupaten} {Kecamatan} {Desa}" matInput
        [formControl]="myControl" #firstInput>
    <mat-hint align="start">Dahulukan wilayah yang lebih luas, mis. "Jakarta Gambir".</mat-hint>
</mat-form-field>


@if (results$ | async; as results) {
    <ul class="search-results">
    @for (result of results; track result) {
        <li class="result">
            @for (name of result.names; track name; let i = $index) {
              <a class="lokasi" [routerLink]="['/h', result.ids[i]]" routerLinkActive="router-link-active">{{name}}</a>
              @if ($last) { <br> } @else { <mat-icon style="vertical-align: middle; font-size: 21px">chevron_right</mat-icon> }
            }
        </li>
    }
    </ul>
}
